{{define "title"}}Dash{{end}}

{{define "content"}}

<div class="layout">
    <div class="sidebar">
        <p>My Bank</p>
        <a href="/">Dashboard</a>
        <a href="/accounts">Accounts</a>
        <a href="/loans">Loans</a>
        <a href="/transfers">Transfers</a>
    </div>

    <div class="main">
        <h1>Welcome David</h1>

        <div class="summary">
           
            <div class="card">
                 <p>Total Balance</p>
                 <h2>₦450,000</h2>
            </div>

            <div class="card">
                <p>Active Loans</p>
                <h2>1</h2>
            </div>

            <div class="card">
                <p>Credit Score</p>
                <h2>720</h2>
            </div>

        </div>

    </div>
    
</div>

{{end}}