{{define "title"}}Ascii-Web{{end}}


{{define "content"}}
    <h1>Welcome To Ascii Builder</h1>

    <form action="/" method="POST">
        <label for="text">Enter text</label>
        <br>
        <textarea name="text" id="text" placeholder="Enter text.."></textarea>
        <br><br>
        <label for="font">Select Font</label>
        <br>
        <select name="font" id="font">
            <option value="standard.txt">Standard</option>
            <option value="shadow.txt">Shadow</option>
            <option value="thinkertoy.txt">Thinkertoy</option>
        </select>
        <br><br>
        <button type="submit">Generate ascii</button>
    </form>
{{end}}